<!DOCTYPE html>
<head>
	<title>Austin Realtor News</title>
	<meta name="description" content="Austin's Online Realtor Community">
  <meta name="viewport" content="width=device-width">

  <!-- Bower Dependencies -->
	<script src="components/angular/angular.js"></script>
  <script src="components/angular-resource/angular-resource.js"></script>
  <script src="components/angular-cookies/angular-cookies.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.js"></script>
  <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="components/angular-http-auth/src/http-auth-interceptor.js"></script>
  <script src="components/angular-foundation/mm-foundation.js"></script>

  <!-- Angular App -->
	<script src="/javascripts/angularApp.js"></script>

	<!-- Font Awesome Icons, Foundation stylesheet, Google Fonts, and custom stylesheets -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css">
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>
<body ng-app="realtorNews">

	<div class="wrapper">
		<header>
		<a href="#/home">Austin Realtor News</a>
		</header>

		<div class="row">
			<div class="large-10 columns large-offset-1"> 
				<ui-view></ui-view>
			</div>
		</div>
		<div class="push"></div>
	</div>

	<footer>
		<ul>
			<li>Advertise</li>
			<li>Terms and Conditions</li>
			<li>Webmasters</li>
		</ul>
	</footer>
	

	<!-- Home Template -->
	<script type="text/ng-template" id="/home.html">
	  <div>
	    <a href="#/new"><button>Create New Post</button></a>
	    <a href="#/login"><button>Login</button></a>
	    <a href="#/signup"><button>Signup</button></a>
	 		<a href="#/profile"><button>Profile</button></a>
	  </div>

	  <div ng-repeat="post in posts | orderBy: '-upvotes'">
			<span ng-click="incrementUpvotes(post)"><i class="fa fa-caret-up fa-2x"></i></span>	
			<a class="title" ng-show="post.link" href="{{post.link}}">
				{{post.title}}
			</a>
			<span class="title" ng-hide="post.link">
				{{post.title}}
			</span>
			<br/>
			<span class="upvotes">{{post.upvotes}} points</span>
			<span class="url">{{post.link}}</span>
			<a class="comments" href="#/posts/{{post._id}}"> {{post.comments.length}} comments</a>
		</div>
	</script>

	<!-- Login Template -->
	<script type="text/ng-template" id="/login.html">
		<h2>Login</h2>
		
    <form class="form-signin"
          name="form"
          ng-submit="login(form)"
          novalidate>

        <div ng-class="{'has-error': form.email.$error.mongoose}">
            <input type="text"
                   class="form-control"
                   placeholder="Email"
                   name="email"
                   ng-model="user.email"
                   required
                   autofocus
                   mongoose-error>
            <p class="help-block"
               ng-show="form.email.$error.mongoose">
                {{ errors.email }}
            </p>
        </div>

        <div ng-class="{'has-error': form.password.$error.mongoose}">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   name="password"
                   ng-model="user.password"
                   required
                   mongoose-error>
            <p class="help-block"
               ng-show="form.password.$error.mongoose">
                {{ errors.password }}
            </p>
        </div>

        <div class="form-group has-error">
            <p class="help-block">{{ error.other }}</p>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign in </button>

        <span class="clearfix"></span>
    </form>

     <a href="/signup" class="text-center new-account">Create an account </a>

	</script>

	<!-- Signup Template -->
	<script type="text/ng-template" id="/signup.html" >
		<h2>Signup</h2>

    <form class="form" name="form" ng-submit="register(form)" novalidate>
        <div ng-class="{
             'has-warning': form.email.$dirty,
             'has-success': form.email.$valid && form.email.$dirty && !form.email.$error.mongoose,
             'has-error': form.email.$invalid && form.email.$dirty || form.email.$error.mongoose
             }">
            <input placeholder="Your Email"
                   type="email"
                   name="email"
                   ng-model="user.email"
                   required
                   autofocus
                   on-focus
                   mongoose-error/>
            <p ng-show="form.email.$error.email && !form.email.$focused">
                Not a valid email.
            </p>
            <p ng-show="form.email.$error.mongoose">
                {{ errors.email }}
            </p>
        </div>

        <div ng-class="{
             'has-warning': form.username.$dirty,
             'has-success': form.username.$valid && form.username.$dirty && !form.username.$error.mongoose,
             'has-error': form.username.$invalid && form.username.$dirty || form.username.$error.mongoose
             }">
            <input placeholder="Username"
                   type="text"
                   name="username"
                   ng-model="user.username"
                   required
                   unique-username
                   mongoose-error/>
            <p  ng-show="form.username.$error.unique && form.username">
                That username is already taken.
            </p>
            <p ng-show="form.password.$error.mongoose">
                {{ errors.username }}
            </p>
        </div>

        <div ng-class="{'has-warning': form.password.$dirty,
                        'has-success': form.password.$valid && form.password.$dirty && !form.password.$error.mongoose,
                        'has-error': form.password.$invalid && form.password.$dirty || form.password.$error.mongoose
                        }">
            <input placeholder="Password"
                   type="password"
                   name="password"
                   ng-model="user.password"
                   ng-minlength="5"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$invalid)
                        && form.password.$dirty
                        && !form.password.$error.required">
                Password must be at least 5 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.password }}
            </p>
        </div>
        <br />
        <button type="submit" ng-disabled="form.$invalid">Sign up</button>
    </form>
	</script>

	<!-- Create Post Template -->
	<script type="text/ng-template" id="/new.html">
		<h2>Create New Post</h2>		

		<form ng-submit="addPost()">
			<input type="text" ng-model="title" placeholder="title"></input>
			<input type="text" ng-model="link" placeholder="link"></input>
			<button type="submit">Post</button>
		</form>

	</script>

	<script type="text/ng-template" id="/profile.html">
	</script>

	<!-- Posts Template -->
	<script type="text/ng-template" id="/posts.html">

		<a class="title" ng-show="post.link" href="{{post.link}}">
			{{post.title}}
		</a>
		<span class="title" ng-hide="post.link">
			{{post.title}}
		</span>
		<br/>

		<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
			<span ng-click="incrementUpvotes(comment)">+</span>
			{{comment.upvotes}} - by {{comment.author}}
			<span style="font-size:20px; margin-left:10px;">
				{{comment.body}}
			</span>
			<button class="small round" ng-click="deleteComment(comment)">Delete Comment</button>
		</div>

		<form ng-submit="addComment()" style="margin-top:30px;">
			<h4>Add new comment</h4>
			<input type="text" placeholder="Comment" ng-model="body"></input>
			<button type="submit">Post</button>
		</form>

		<button ng-click="deletePost(post)">Delete Post</button>


	</script>


</body>
</html>