<html>
<head>
	<title>Austin Realtor News</title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/angularApp.js"></script>


	<!-- Foundation, Font Awesome, and custom stylesheets -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>
<body ng-app="realtorNews">

	<a href="#/home"><h1>Austin Realtor News</h1></a>

	<div class="large-10 columns large-offset-1"> 
		<ui-view></ui-view>
	</div>
	

	<!-- Home Template -->
	<script type="text/ng-template" id="/home.html">
	  <div>
	    <h2>Home</h2>
	    <h3><a href="#/new">new</a></h3>
	  </div>

	  <div ng-repeat="post in posts | orderBy: '-upvotes'">
		
  		<p>
  		<span ng-click="incrementUpvotes(post)"><i class="fa fa-caret-up"></i></span> {{post.upvotes}}		
			<a ng-show="post.link" href="{{post.link}}">
				{{post.title}}
			</a>
			<span ng-hide="post.link">
				{{post.title}}
			</span>  |
			<a href="#/posts/{{post._id}}">Comments</a>
			<span ng-click="deletePost(post)">Delete</span>
			
			</p>

		</div>
	</script>

	<!-- Create Template -->
	<script type="text/ng-template" id="/new.html">
		<h2>Create New Post</h2>		

		<form ng-submit="addPost()">
			<input type="text" ng-model="title" placeholder="title"></input>
			<input type="text" ng-model="link" placeholder="link"></input>
			<button type="submit">Post</button>
		</form>

	</script>


	<!-- Posts Template -->
	<script type="text/ng-template" id="/posts.html">

		<h3>
			<a ng-show="post.link" href="{{post.link}}">
				{{post.title}}
			</a>
			<span ng-hide="post.link">
				{{post.title}}
			</span>
		</h3>

		<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
			<span ng-click="incrementUpvotes(comment)">+</span>
			{{comment.upvotes}} - by {{comment.author}}
			<span style="font-size:20px; margin-left:10px;">
				{{comment.body}}
			</span>
		</div>

		<form ng-submit="addComment()" style="margin-top:30px;">
			<h3>Add a new comment</h3>
			<input type="text" placeholder="Comment" ng-model="body"></input>
			<button type="submit">Post</button>
		</form>




	</script>



</body>
</html>